@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Poppins');

img {
    max-width: 400px;
    height: auto;
    display: inline-block;
}

h1, h2 {
    text-align: center;
    font-family: Poppins, sans-serif;
}

p {
    font-family: "PT Sans Narrow", sans-serif;
}

body {
    background-color: #a5a9b1;
}

label {
    display: block; 
    margin-bottom: 10px;
}

input{
    display: block;
    margin-bottom: 20px;
    height: 20px;
    width: 250px;
    font-size: 1.1em;
}

#submit {
    margin-bottom: 40px;
}