@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Poppins');

img {
    max-width: 400px;
    height: auto;
    display: inline-block;
}

h1, h2 {
    text-align: center;
    font-family: Poppins, sans-serif;
}

p {
    font-family: "PT Sans Narrow", sans-serif;
}

body {
    background-color: #a5a9b1;
}